
<style>
		.unique-color-dark{
			background: black;
			color: white;
		}
		hr.deep-purple{
			background-color: #a04abd;
		}
</style>

<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
		<h5 class="mb-0 py-2 px-3">Make camping experiences better!</h5>
  </div>


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-12 col-lg-4  mx-auto mb-4 firstsec">

        <!-- Content -->
        <h2 class="text-uppercase font-weight-bold footbrand">Camp Lovers</h2>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>Camping can be – and usually is – combined with adventure activities, giving the ultimate outdoors experience. It’s a pastime that can be enjoyed by the young and the old.For families, with kids in tow, camping is the perfect activity for a vacation.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-12 col-lg-4  mx-auto mb-4 text-center firstsec">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold text-center qls">Quick Links</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <div class="text-center mt-0">
        <p>
          <a class="middle" href="/about">About</a>
        </p>
        <p>
          <a class="middle" href="/campage">Home</a>
        </p>
        <p>
          <a class="middle" href="/login">Login</a>
        </p>
        <p>
          <a class="middle" href="/register">Signup</a>
        </p>	
		<p>
          <a class="middle" href="/campage/new">Add a New Post?</a>
        </p>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-12 col-lg-4 mx-auto mb-md-0 mb-4 text-center firstsec">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold contactinfo">Contact</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <a class="middle" href="mailto:kanavchadha56@gmail.com"> <i class="fa fa-envelope mr-3"></i>kanavchadha56@gmail.com </a></p>
        <p> <i class="fa fa-phone mr-3"></i>+ 9041160424</p>
		  
		<div class="socialicons d-flex justify-content-between px-3">
          <a class="fb-ic socialicons" href="#">
           <i class="socialicons fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a class="tw-ic socialicons" href="#">
            <i class="socialicons fa fa-twitter"> </i>
          </a>
          <a class="gplus-ic socialicons" href="#">
            <i class="socialicons fa fa-google-plus "> </i>
          </a>
          <a class="li-ic socialicons" href="#">
            <i class="socialicons fa fa-linkedin"> </i>
          </a>
          <a class="ins-ic socialicons" href="#">
            <i class="socialicons fa fa-instagram "> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a>Created by ~ Kanav Chadha</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>
	