<%- include("partials/header") %>

<div class="register-form mnp" style="text-align: center;">
	<h1 style="font-size: 40px;" class="mb-5"><strong>Forgot Password</strong></h1>
		<form action="/forgot" method ="POST">
			<div class="form-group">
				<label class="mr-2" for="email" style="font-size: 25px;"> Email: </label>
				<input class="form-control" autofocus="autofocus" style="display: inline; margin: auto auto;"  type="email" name="email" placeholder="john@doe.com" required>
			</div>
			<div class="form-group">
				<button class="btn btn-success btn-block regs" style="margin: auto auto;">Reset Password</button>
			</div>
		</form>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
	
</script>

</body>
</html>
