<%-include("partials/header")%>

<div class="register-form mnp">
    <form action="/reset/<%= token %>" method="POST" class="needs-validation" novalidate>
        <legend>Reset Password</legend>
        <div class="form-group">
            <label for="password">New Password</label>
            <input
                type="password"
                name="password"
                value=""
                placeholder="New password"
                autofocus="autofocus"
                class="form-control"
				pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
				required
            />
			<div class="valid-feedback">
					Looks good!
			</div>
			<div class="invalid-feedback">
			  Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
			</div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input
                type="password"
                name="confirm"
                value=""
                placeholder="Confirm password"
                class="form-control"
				pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
				required
            />
			<div class="valid-feedback">
					Looks good!
			</div>
			<div class="invalid-feedback">
			  Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
			</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </form>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
	
</script>

</body>
</html>